#dashboardContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
#dashboardContainer .dashboardBox{
    width: 350px;
    height: 200px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(10, 10, 10);
    border-bottom: inset 5px #616d88;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.dashboardBox .totalIcons{
    font-size: 3rem;
    color: #616d88;
}
.dashboardBox .totalText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.dashboardBox .totalText p{
    color: #616d88;
    font-size: 1rem;
}
.dashboardBox .totalText h1{
    color: #616d88;
}

@media only screen and (max-width: 576px){
    #dashboardContainer .dashboardBox{
        height: 150px;
    }
    .dashboardBox .totalIcons{
        font-size: 2.5rem;
    }
}