#sideBarBox{
    width: 90%;
    height: 95%;
    border-radius: 10px;
    margin: auto;
    background-color: rgb(25, 25, 25);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#sideBarBox .adminLinksContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
#sideBarBox .adminLinksContainer .topHeadingBox{
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 30px;
    border-bottom: 1px solid black;
}
#sideBarBox .adminLinksContainer .topHeadingBox h3{
    color: white;
}
#sideBarBox .settingBox{
    width: 100%;
}
#sideBarBox .adminLinksContainer .active{
    background-color: #616d88;
    border-radius: 5px;
}

@media only screen and (max-width: 576px){
    #sideBarBox{
        display: none;
    }
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    #sideBarBox{
        display: none;
    }
}
@media only screen and (min-width: 767px) and (max-width: 991px){
    
}
@media only screen and (min-width: 992px) and (max-width: 1200px){
}